.topbar{
	
	background-color:#ffffff;
	height:44px;
	margin-top:6pt;
	
	
}


.topbar_logo{
	
	text-align:center;
	margin-right:36pt;
}




.topbar_logo a{
	
	font-size:26px;
	font-family:upbus;
	color:#333333;

}

canvas#hamMenu{
	float:left;
	height:39px;
	width:39px;
	cursor:pointer;
	margin-top:-2pt;
	margin-left:4pt;
}