.topbar{
	
	background-color:#ffffff;
	height:48px;
	margin-top:6pt;
	
	
}


.topbar_logo{
	
	text-align:center;
	margin-right:36pt;
}




.topbar_logo a{
	
	font-size:30px;
	font-family:upbus;

}

canvas#hamMenu{
	float:left;
	height:42px;
	width:42px;
	cursor:pointer;
	margin-left:4pt;
}