.topbar{
	
	background-color:#ffffff;
	height:54px;
	
	
}

.topbar_logo{
	
	text-align:center;
	margin-right:36pt;
	
}

.topbar_logo>img{
	
	width:auto;
	height:auto;
	
}

canvas#hamMenu{
	float:left;
	height:42px;
	width:42px;
	cursor:pointer;
	margin-top:5pt;
	margin-left:4pt;
}