

@keyframes moveRight {
  0% {transform: translate(-160pt,0pt);}
	50% {transform: translate(0pt,0pt);}
	100% {transform: translate(0pt,0pt);}
}

@keyframes moveLeft {
  0% {transform: translate(0pt,0pt);}
	50% {transform: translate(-160pt,0pt);}
	100% {transform: translate(-160pt,0pt);}
}

@keyframes dUp {
  0% {transform: translate(0pt,0pt);width:92%; height:15%; margin-top: 0pt;}
	100% {transform: translate(0pt,-380pt);width:100%; height:120%; margin-left:0pt;margin-right:0pt; margin-top: 24pt;}
}

@keyframes dDown {
  0% {transform: translate(0pt,-380pt);width:100%; height:120%; margin-top: 24pt;}
	100% {transform: translate(0pt,0pt);width:92%; height:15%; margin-left:4%;margin-right:4%;margin-top: 0pt;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
	100% {opacity:0;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
	100% {opacity:1;}
}

@keyframes fadeInOut {
  0% {opacity: 1;}
	50% {opacity:0;}
  100% {opacity: 1;}
}

@keyframes fadeInOut2 {
  0% {opacity: 1;}
	50% {opacity:0;}
  100% {opacity: 1;}
}

@keyframes displayOut {
  0% {display: block;}
	100% {display:none;}
}

@keyframes displayIn {
  0% {display: none;}
	100% {display:block;}
}

@keyframes moveB2T {
  0% {top: 348pt; opacity: 0.2;}
	100% {top:118pt; opacity: 0.7;}
}

@keyframes moveT2B {
  0% {top: 118pt; opacity: 0.2;}
	100% {top:348pt; opacity: 0.7;}
}

@keyframes rotateDown {
  0% {transform:rotate(0deg)}
	100% {transform:rotate(90deg)}
}

@keyframes rotateUp {
  0% {transform:rotate(90deg)}
	100% {transform:rotate(0deg)}
}

@keyframes scale {
  0% {transform: scale(0.8); opacity: 0; }
  50%{transform:scale(1.2); opacity: 0.3; }
  100%{transform:scale(1.4); opacity: 0; }
}

.topbar{
	position: absolute;
	top: 24pt;
  display: flex;
  z-index:4;
}



.topbar_logo{
	z-index:2;

}


.selectionBar{
  height: 22pt;
  margin-left: 42%;
  margin-right: -32%;
  margin-top: -4pt;
}

.selectionBar select{
  background-color:#fafafa;
  border:none;
  outline: none;
  font-size:9px;
  width:70%;
  height: 130%;
  color:#d9d9d9;
  border-radius: 2px;
  box-shadow: 0px 3px 7px 0px rgba(34, 23, 20, 0.35);
  padding-left: 10px;
  display: inline-block;
}

.selectionBar select:focus {
    border:none;
    -webkit-appearance: none;
}

.sidebar{
	position: absolute;
	height:100%;
	width:50%;
	background-color:#fafafa;
	transform: translate(-180pt);
	overflow: hidden;
	z-index:3;
}

#fb{
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#sb{
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#dS1{
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#dS2{
  opacity: 0;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#stationList{
	animation-duration: 0.7s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#selectBar{
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#indicationAni{

  animation-duration: 0.6s;
  animation-delay: 0.5s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

.sb_topImg img{
	width:100%;
}

.list_cantainer{
	margin-left:-16pt;
	margin-top:20pt;
}

.list_cantainer li{
	list-style: none;
	color:#5a498f;
	padding-top:20pt;
}

.list_cantainer a{
		text-decoration: none;
		font-size:18px;
}

.topbar_logo a{

	font-size:20px;
	font-family:upbus;
	color:#333333;

}

canvas#hamMenu{
	float: left;
  height: 29px;
	width: 29px;
  cursor: pointer;
  margin-left: 16pt;
	z-index:997;
}



.footbar{
	float:left;
	position: absolute;
	bottom:0px;
	width:92%;
	height:15%;
	top:85%;
  box-shadow: 0px 3px 85px 0px rgba(90, 73, 143, 1);
	margin-left:4%;
	margin-right:4%;
	background-color:#5a498f;
	z-index:999 !important;
}

.footbar p{
	color:#ffffff;
	font-size:14px;
	margin-left:2%;
	margin-right:2%;
}

.dS2{
  margin-left: 6%;
  margin-top: -29pt;

}

#ds2title{
  font-size:8pt;
  opacity: 0.5;
}

#ds2nextSta{
  width: 99%;
  font-size: 13pt;
  font-size:14pt;
  margin-top:-8pt;
}



.stationList{

}

.stationListCantainer{
  margin-top:14pt;
  display:flex;
}



.circle{
  background-color:#5a498f;
  border-radius: 50%;
	width: 60px;
	height: 60px;
}

.innerCircle{
  background-color:#fafafa;
  border-radius: 50%;
	width: 26px;
	height: 26px;
  margin-left: 12pt;
  margin-top: 12pt;
}

.circleBIG{

  background-color:#fafafa;
  border-radius: 50%;
	width: 60px;
	height: 60px;
  z-index: -1;
}

.circleBIG img{
  width:50%;
  height:50%;
  margin-top: 10pt;
  margin-left: 11.5pt;
}

.circleBIGAni{
  position: absolute;
  top:0pt;
  background-color:#65F3CD;
  opacity: 0;
  border-radius: 50%;
	width: 60px;
	height: 60px;
}

.dStext a{
  color:#ffffff;
  margin-left:10pt;
  margin-top:30pt;
}

.dStime{
  font-size:20px;
}

.dSstationName{
  font-size:10px;
}

.floatBtn{
  position:absolute;
  bottom: 11%;
  right: 10%;
  z-index:999;
  box-shadow: 0px 15px 25px 0px rgba(90, 73, 143, 0.25);


}

.line{
  height: 260pt;
  border-left: 6pt solid #fafafa;
  position: absolute;
  top: 110pt;
  left: 36pt;
}


.lineCoverB2T{
  opacity: 0;
  height: 20pt;
  width: 7pt;
  position: absolute;
  top: 348pt;
  left: 35pt;
  background: linear-gradient(rgba(87,71,138,1), rgba(255,0,0,0));
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
}

.lineCoverT2B{
  opacity: 0;
  height: 20pt;
  width: 7pt;
  position: absolute;
  top: 118pt;
  left: 35pt;
  background: linear-gradient( rgba(255,0,0,0), rgba(87,71,138,1));
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
}

#changeBtn{
  display:none;
}
